<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="/" class="b-brand">
					<!-- ========   change your logo hear   ============ -->
					<img src="/assets/logo.png" alt="" class="logo logo-lg">
					<img src="/assets/logo-sm.svg" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content scrollbar">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Navegação</label>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">home</i>
                            </span>
                            <span class="pc-mtext">Dashboard</span>
                        </a>
					</li>
					
                    <li class="pc-item pc-caption">
						<label>Serviços</label>
					</li>
					<li class="pc-item">
						<a href="#" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">add_alert</i>
                            </span>
                            <span class="pc-mtext">Chamado Técnico</span>
                        </a>
					</li>
					
					<li class="pc-item pc-caption">
                        <label>Sendgrid</label>
                    	<span>Vincular com webhook</span>
                    </li>
                    <li class="pc-item">
                        <a href="/accounts/" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">email</i>
                            </span>
                            <span class="pc-mtext">Contas Sengrid</span>
                        </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
