<!-- [ navigation menu ] start -->
	<div class="menu" >
		<nav class="menu" style="background: var(--bs-dark); ">
			<div class="navbar navbar-nav" style="background-color: #161c25;">
				<a href="/" class="navbar-nav navbar-brand nav-link">
					<!-- ========   change your logo hear   ============ -->
					<img src="/assets/logo.png" alt="" class="logo logo-lg">
					<img src="/assets/logo-sm.png" alt="" class="logo logo-sm">
				</a>
			</div>	
			<div class="navbar-nav navbar-scroll">
				<ul class="navbar-nav">
					<li class="nav-item nav-text">
						<label>Navegação</label>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">home</i>
                            </span>
                            <span class="pc-mtext">Dashboard</span>
                        </a>
					</li>
					
                    <li class="nav-text">
						<label>Serviços</label>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">add_alert</i>
                            </span>
                            <span class="pc-mtext">Chamado Técnico</span>
                        </a>
					</li>
					
					<li class="nav-text">
                        <label>Administrativo</label>
                    </li>
                    <li class="nav-item">
                        <a href="/accounts/" class="nav-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">email</i>
                            </span>
                            <span class="pc-mtext">Contas Sengrid</span>
                        </a>
					</li>
					<li class="nav-item">
                        <a href="/home/index/" class="nav-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">queue</i>
                            </span>
                            <span class="pc-mtext">API - Captura</span>
                        </a>
					</li>
					
				</ul>
			</div>
		</nav>
	</div>
	<!-- [ navigation menu ] end -->
